/* .class_name 类选择器，所有class=“classname”的都会使用 */
.shape {  
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }